main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 55px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  height: 160px;
  margin: 10px;
  position: absolute;
  width: 150px;
}

.card a {
  color: #363636;
  text-decoration: none;
}

.card img {
  border-radius: 5px 5px 0 0;
  height: 130px;
  position: relative;
  width: 148px;
}

.card p {
  font-weight: 500;
  margin: 0 12px;
}
