main div img {
  width: 360px;
}

.carousel {
  height: 200px;
  overflow: auto;
  white-space: nowrap;
  width: 360px;
}

.carousel div {
  display: inline-block;
}

.start-btn {
  background-color: white;
  border: transparent;
  border-top: 2px solid black;
  bottom: 0;
  font-weight: 700;
  margin-top: 20px;
  padding: 8px 4px;
  position: fixed;
  width: 100%;
}
