main div img {
  width: 360px;
}

.carousel {
  margin: 20px 0;
  overflow: auto;
  white-space: nowrap;
}

.carousel div {
  display: inline-block;
}

.start-btn {
  background-color: white;
  border-top: 2px solid black;
  bottom: 0;
  color: #363636;
  font-weight: 700;
  padding: 8px 4px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.share-container button {
  margin-bottom: 60px;
}
