footer {
  background-color: white;
  border-top: 2px solid black;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

footer a {
  margin: 0 20px;
  padding: 4px;
}
